{% include theme/vars/template.html %}
{% include theme/head.html %}

<body id="{% return page.body_id || '' %}" class="{{ body_class }}">
  <header role="banner">{% include theme/header.html %}</header>
  <nav role="navigation">{% include theme/navigation/main.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
      {% if page.sidebar %}<aside class="sidebar">{% include page.sidebar %}</aside>{% endif %}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html || theme/footer.html %}</footer>
</body>
</html>
