{% comment %}
/---------------------------------------------------\
| Assigns all variables needed for the feed layout  |
|---------------------------------------------------|
| 1. Get the post's target url (linkpost or normal) |
| 2. Get the proper title text (with markers)       |
| 3. Format the post content for the feed including |
|    exceprts and permalinks where appropriate.     |
\---------------------------------------------------/
{% endcomment %}

{% include custom/vars/linkpost.html || theme/vars/linkpost.html %}

{% assign title_url = post.external-url || post.url %}
{% capture title_url %}{{ title_url | prepend_url: site.url }}{% endcapture %}

{% include custom/vars/title.html || theme/vars/title.html %}

{% capture post_content %}{{ post.content | expand_urls: site.url }}{% endcapture %}
{% if site.excerpt.feed %}
  {% capture post_content %}{{ post_content | excerpt }}<p><a rel="bookmark" href="{{ site.url }}{{ post.url }}">{{ site.excerpt.link }}</a></p>{% endcapture %}
{% else %}
  {% capture post_content if linkpost and site.permalink_label.feed %}{{ post_content }}<p><a rel="bookmark" href="{{ site.url }}{{ post.url }}">{{ site.permalink_label.feed }}</a></p>{% endcapture %}
{% endif %}

